@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,800,400,300");
/* Layout */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
.profile {
  padding: 10% 0;
  text-align: center;
}
.profile-img {
  background-image: url("http://i3.minus.com/ibwR0eNVkxC4fP.jpg");
  background-size: cover;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 100%;
}
.profile-name {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 0;
}
.profile-title {
  font-weight: 400;
  font-size: 28px;
  color: #ccc;
}
.profile-text {
  max-width: 640px;
  margin: auto;
  margin-top: 10px;
  font-size: 1.25em;
  font-weight: 400;
}
.profile-link b {
  color: #4d90fe;
  text-decoration: underline;
}
